@tailwind base;
@tailwind components;
@tailwind utilities;

section {
  scroll-margin-top: 60px;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
.glass-nav {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
.cta-gradient {
  background: linear-gradient(135deg, #a43d00 0%, #fd6c22 100%);
}
.Manrope {
  font-family: "Manrope", sans-serif;
}
